
body {
	display: flex;
	flex-direction: column;
	background-color: black;
	color: white;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Raleway-Thin', sans-serif;
}

/* MAIN SPLASH */

.main-splash-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	border-bottom: white 2px dotted;
}

/* transparent gif in background */
.main-splash-container:before {
	background-image: url('../img/teknowledge-vid-clip.gif');
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.25;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.main-splash {
	margin: auto;
}

.main-splash > h1 {
	font-size: 2.5em;
	text-align: center;
}

.main-splash > img {
	width: 650px;
	margin: 1.5em 0.5em;
}

.main-splash > .pages-menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.pages-menu > a {
	margin: 0 1em;
  font-size: 1.5em;
}

/* ELEMENT STYLES */

h1 {
	font-size: 3em;
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

h2 {
	text-transform: uppercase;
	font-size: 1.5em;
	margin-bottom: 2em;
	text-align: center;
	border-top: white 1px solid;
	border-bottom: white 1px solid;
	padding: 0.2em 0;
	display: inline-block;
}

h3 {
	text-transform: uppercase;
	font-family: 'Raleway-Medium', sans-serif;
	font-size: 1.2em;
	margin-bottom: 1em;
}
h3::first-letter {
	font-size: 1.2em;
}

h4 {
	font-family: 'Raleway-Medium', sans-serif;
	margin-top: 0.5em;
	text-align: center;
}
h4:first-child {
	margin-top: 0;
}

p {
	text-align: center;
}

a {
	color: white;
	text-decoration: underline;
}
a:hover {
	color: #ddd;
	cursor: pointer;
}

code {
	font-family: monospace;
}

/* SECTIONS */

.section-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2em;
}

.section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1em;
}
.section:last-child {
	margin-bottom: 0;
}

.section > .section-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section-item {
	margin-right: 1em;
	margin-bottom: 1em;
}
.section-item:last-child {
	margin-right: 0;
}
.section-item.half-width {
	width: 400px;
}
.section-item.full-width {
	width: 800px;
}
.section-item.third-width {
	width: 265px;
}
.section-item.sixty-percent-width {
	width: 480px;
}
.section-item.forty-percent-width {
	width: 320px;
}
.section-item.eighty-percent-width {
	width: 640px;
}

.section img.float-left {
	float: left;
	margin-right: 1em;
}
.section img.float-right {
	float: right;
	margin-left: 1em;
}

.section-item > div {
	padding: 0 1em;
}

.text-and-pic {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.small-font {
	font-size: 0.8em;
}

.tiny-font {
	font-size: 0.6em;
}

/* SPECIFIC SECTION STYLES */

.goals-section {
	margin-top: 3em;
}
.goals-section img {
	width: 35%;
	border-radius: 50%;
}
.goals-section p {
	text-align: left;
}

.implementation-section img {
	width: 100%;
}

.student-quotes-section img {
	width: 100%;
}

.tek-vid {
	width: 600px;
  height: 338px;
  border: white 1px solid;
}

.interested-section .section-item:first-child {
	position: relative;
	height: 1em;
}
.interested-section .section-item:first-child h3 {
	position: absolute;
	height: 2em;
	right: 0;
	top: 0;
}
.interested-section p {
	text-align: left;
}

.group-pic-section img {
	width: 60%;
	margin-top: 1em;
}

/* NAV BAR */

.nav-bar {
	background-color: #171717;
	margin-bottom: 0;
}

.top-nav-bar a {
	text-decoration: none;
}

.tk-nav-bar-text {
	font-size: 1.5em;
	margin-right: 1em;
	margin-left: -0.2em;
  position: relative;
  top: -1.1em;
}

.nav-bar > .section {
	align-items: center;
}

.nav-bar > .section > a {
	padding: 1em;
}
.nav-bar > .section > a.img-link {
	padding: 0;
}

img.nav-bar-tk-logo {
	width: 54px;
	height: 60px;
	margin: 0.5em;
	margin-right: 1em;
}
.nav-bar .img-link:hover img.nav-bar-tk-logo {
	opacity: 0.8;
}

/* PROGRAMS PAGE */

.obama-section p,
.south-fayette-section p {
	text-align: center;
}

.obama-section img {
	width: 80%;
}

.south-fayette-section img {
	width: 100%;
}

.homewood-section img {
	width: 100%;
}

/* CURRICULUM PAGE */

.curriculum-section img {
	width: 100%;
}

/* OBAMA PAGE */

.obama-curriculum-section a,
.obama-curriculum-section p {
	margin-bottom: 0.5em;
}

/* SYNTAX GUIDE */

.syntax-guide-section h2 {
	margin-top: 2em;
	margin-bottom: 2em;
}

.syntax-guide-section a {
	margin-bottom: 0.5em;
}
